.task-card {
  position: relative;
  display: flex;
  padding-left: 40px;
  align-items: center;
  border-radius: 8px;
  min-height: 112px;
  box-shadow: var(--main-box-shadow);

  .task-label {
    font-size: 20px;
    color: var(--color-text);
    cursor: pointer;
  }

  .checked-task {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding-left: 18px;
  }

  .check-style {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-button);
    margin-left: -18px;
    top: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%);
  }

  .checked-task:checked + .check-style::before {
    content: '\2714';
    color: var(--color-button);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checked-task:focus + .check-style {
    outline: solid 0 transparent;
    box-shadow: 0 0 2px #080808;
  }

  .checked-task:checked ~ .task-label {
    text-decoration: line-through;
  }

  button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    top: 6px;
    right: 10px;
    font-size: 30px;
    box-shadow: none;
    border-radius: 100%;
    padding: 0px;
    transition: transform 1s, color 1s;
    & span {
      padding-bottom: 3px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .creation-task-date {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: var(--color-text);
  }
}
