.tasks-list{
    position: relative;
    margin-top: 30px;
    padding: 20px;
    height: 400px;
    overflow: auto;
    scrollbar-width: none;
    width: 50%;
    border-radius: 8px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
}