.top-button {
  position: sticky;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  transform: translate(250px, -60px);
  font-size: 25px;
  border-radius: 50%;
  padding: 10px 20px;
  background-color: rgba(224, 224, 224, 1);
  box-shadow: none;
}
.top-button.active {
  transform: translate(250px, -80px);
  visibility: visible;
  opacity: 1;
}
