.top-button {
  position: sticky;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
  transform: translate(250px, -60px);
  font-size: 25px;
  border-radius: 50%;
  padding: 16px 20px;
  background-color: var(--bg-color-scroll-btn);
  box-shadow: none;
  border: none;
}
.top-button.active {
  transform: translate(250px, -80px);
  visibility: visible;
  opacity: 1;
}
