body {
	background-color: var(--bg-body);
	font-family: $main-fonts;
}
textarea,
input,
button {
	font-size: 14px;
	font-family: inherit;
	border: var( --input-btn-border);
	border-radius: 8px;
	padding: 10px 13px;
	box-shadow: var(--main-box-shadow);
	background-color: var(--bg-body);
	line-height: 1;
	margin: 0;
	&:focus {
		@include focus-outline();
	}
}
textarea,
input{
	 color: var(--color-text)
}
button {
	color: var(--color-button);
	font-weight: 900;
	transition: box-shadow 1s;
}
textarea,
input:hover,
button:hover {
	box-shadow: $hover-box-shadow;
}

button:active {
	box-shadow: $active-box-shadow;
	transform: translateY(1px);
}
